

.space {
    margin-left: 10px;
    background-color: rgba(209, 192, 145, 0.336);
    background-image: radial-gradient(#0000008a 1px, transparent 3%);
    background-size: 40px 40px;
    background-repeat: repeat;


    border: 1px solid rgba(0, 0, 0, 1);

    height: 70%;
    min-height: 500px;
    min-width: 500px;
    width: 80%;
}

.line {
    position: absolute;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 1);
    transform-origin: left;
}

.all {
    display: flex;
    flex-direction: row;
    width: 100%;
}